<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a routerLink="/admin/all" class="nav-link">Trang chủ</a>
      </li>
      <!--      <li class="nav-item d-none d-sm-inline-block">-->
      <!--        <a href="#" class="nav-link">Contact</a>-->
      <!--      </li>-->
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Accessory Logo -->
    <a routerLink="/admin/all" class="brand-link">
      <img src="assets/image/logo.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light"> RƯỢU VANG 68</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{username}}</a>
        </div>
      </div>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <label for="show-action-tree" class="action">
              <i style="font-size: 20px" class="fa-solid fa-user"></i>
              THAO TÁC
              <i style="margin-left: 80px" class="fa-solid fa-caret-left"></i>
            </label>
            <input hidden type="checkbox" id="show-action-tree">
            <ul id="action-tree" class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/admin/alcohol/create" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Thêm mới rượu vang</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/admin/accessory/create" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Thêm mới phụ kiện</p>
                </a>
              </li>
            </ul>
          </li>
          <br>
          <li class="nav-item">
            <label for="show-alcohol-tree-1" class="action">
              <i style="font-size: 20px" class="fa-brands fa-sourcetree"></i>
              XUẤT XỨ
              <i style="margin-left: 90px" class="fa-solid fa-caret-left"></i>
            </label>
            <input hidden type="checkbox" id="show-alcohol-tree-1">
            <ul id="alcohol-tree-1" class="nav nav-treeview">
              <li class="nav-item" *ngFor="let origin of originList">
                <a routerLink="/admin/alcohol/origin/{{origin.id}}/{{origin.name}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>{{origin.name}}</p>
                </a>
              </li>
            </ul>
          </li>
          <br>
          <li class="nav-item">
            <label for="show-alcohol-tree-2" class="action">
              <i style="font-size: 20px" class="fa-brands fa-sourcetree"></i>
              LOẠI RƯỢU
              <i style="margin-left: 73px" class="fa-solid fa-caret-left"></i>
            </label>
            <input hidden type="checkbox" id="show-alcohol-tree-2">
            <ul id="alcohol-tree-2" class="nav nav-treeview">
              <li class="nav-item" *ngFor="let type of typeList">
                <a routerLink="/admin/alcohol/type/{{type.id}}/{{type.name}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>{{type.name}}</p>
                </a>
              </li>
            </ul>
          </li>
          <br>
          <li class="nav-item">
            <label for="show-accessory-tree" class="action">
              <i style="font-size: 20px" class="fa-brands fa-sourcetree"></i>
              PHỤ KIỆN
              <i style="margin-left: 83px" class="fa-solid fa-caret-left"></i>
            </label>
            <input hidden type="checkbox" id="show-accessory-tree">
            <ul id="accessory-tree" class="nav nav-treeview">
              <li class="nav-item" *ngFor="let accessory of accessoryList">
                <a routerLink="/admin/alcohol/create" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>{{accessory.name}}</p>
                </a>
              </li>
            </ul>
          </li>


        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">THÊM MỚI RƯỢU VANG</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Thêm mới rượu vang</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">THÊM MỚI RƯỢU VANG</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form [formGroup]="productForm" (ngSubmit)="createNewProduct()">
                <div class="card-body">
                  <div class="form-group">
                    <label>Xuất xứ</label>
                    <div class="form-check" *ngFor="let origin of originList">
                      <input [checked]="origin.checked" (change)="getOriginId($event)" class="form-check-input"
                             type="radio" name="origin" value="{{origin.id}}">
                      <label class="form-check-label">
                        {{origin.name}}
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Loại rượu vang</label>
                    <div class="form-check" *ngFor="let type of typeList">
                      <input [checked]="type.checked" (change)="getTypeId($event)" class="form-check-input" type="radio"
                             name="type" value="{{type.id}}">
                      <label class="form-check-label">
                        {{type.name}}
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="name">Tên sản phẩm</label>
                    <input formControlName="name" type="text" class="form-control" id="name" placeholder="Tên sản phẩm">
                  </div>
                  <div class="form-group">
                    <label for="price">Giá sản phẩm</label>
                    <input formControlName="price" type="number" class="form-control" id="price"
                           placeholder="Giá sản phẩm">
                  </div>
                  <div class="form-group">
                    <label for="quantity">Số lượng</label>
                    <input formControlName="quantity" type="number" class="form-control" id="quantity"
                           placeholder="Số lượng">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputFile">Ảnh sản phẩm</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input formControlName="image" (change)="getImage($event)" type="file" class="custom-file-input"
                               id="exampleInputFile">
                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                      </div>
                      <div class="input-group-append">
                        <span class="input-group-text">Thêm ảnh</span>
                      </div>
                    </div>
                  </div>
                  <h3>THÔNG TIN BỔ SUNG</h3>
                  <div class="form-group">
                    <label for="capacity">Dung tích</label>
                    <input formControlName="capacity" type="number" class="form-control" id="capacity"
                           placeholder="Dung tích">
                  </div>
                  <div class="form-group">
                    <label for="grape">Giống nho</label>
                    <input formControlName="grape" type="text" class="form-control" id="grape" placeholder="Giống nho">
                  </div>
                  <div class="form-group">
                    <label for="producer">Nhà sản xuất</label>
                    <input formControlName="producer" type="text" class="form-control" id="producer"
                           placeholder="Nhà sản xuất">
                  </div>
                  <div class="form-group">
                    <label for="concentration">Nồng độ</label>
                    <input formControlName="concentration" type="number" class="form-control" id="concentration"
                           placeholder="Nồng độ">
                  </div>
                  <div class="form-group">
                    <label for="region">Vùng sản xuất</label>
                    <input formControlName="region" type="text" class="form-control" id="region"
                           placeholder="Vùng sản xuất">
                  </div>
                  <div class="form-group">
                    <label>Mô tả</label>
                    <editor formControlName="content" [init]="{plugins: 'link'}"></editor>
                  </div>
                </div>

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Thêm mới</button>
                  <a routerLink="/admin/all" class="btn btn-default" style="margin-left: 20px">Danh sách rượu vang</a>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.2.0
    </div>
  </footer>
</div>
</body>
