.action {
  color: white;
  margin-left: 20px;
}
.action-tree {
  display: none;
}
#show-action-tree:checked ~ #action-tree {
  display: block;
}
#show-alcohol-tree-1:checked ~ #alcohol-tree-1 {
  display: block;
}
#show-alcohol-tree-2:checked ~ #alcohol-tree-2 {
  display: block;
}
#show-accessory-tree:checked ~ #accessory-tree {
  display: block;
}


.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.example-card {
  margin-bottom: 10px;
}
