.product-name:hover {
  text-decoration: underline;
}
.action {
  color: white;
  margin-left: 20px;
}
.action-tree {
  display: none;
}
#show-action-tree:checked ~ #action-tree {
  display: block;
}
#show-alcohol-tree-1:checked ~ #alcohol-tree-1 {
  display: block;
}
#show-alcohol-tree-2:checked ~ #alcohol-tree-2 {
  display: block;
}
#show-accessory-tree:checked ~ #accessory-tree {
  display: block;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
